<div class="row animate fadeIn fast">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h1>Usurios</h1>
        <div
          class="alert alert-info animated fadeIn fast"
          *ngIf="usuarios.length === 0"
        >
          <p class="mb-0">No hay usuarios con ese termino</p>
        </div>
        <div class="table-responsive" *ngIf="usuarios.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr class="animated fadeIn fast" *ngFor="let usuario of usuarios">
                <td>
                  <img
                    class="w75"
                    [src]="usuario.img | imagenPipe: 'usuarios'"
                    alt=""
                  />
                </td>
                <td>{{ usuario.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h1>Hospitales</h1>
        <div
          class="alert alert-info animated fadeIn fast"
          *ngIf="hospitales.length === 0"
        >
          <p class="mb-0">No hay hospitales con ese termino</p>
        </div>
        <div class="table-responsive" *ngIf="hospitales.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="animated fadeIn fast"
                *ngFor="let hospital of hospitales"
              >
                <td>
                  <img
                    class="w75"
                    [src]="hospital.img | imagenPipe: 'hospitales'"
                    alt=""
                  />
                </td>
                <td>{{ hospital.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h1>Médicos</h1>
        <div
          class="alert alert-info animated fadeIn fast"
          *ngIf="medicos.length === 0"
        >
          <p class="mb-0">No hay médicos con ese termino</p>
        </div>
        <div class="table-responsive" *ngIf="medicos.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr class="animated fadeIn fast" *ngFor="let medico of medicos">
                <td>
                  <img
                    class="w75"
                    [src]="medico.img | imagenPipe: 'medicos'"
                    alt=""
                  />
                </td>
                <td>
                  <a [routerLink]="['/dashboard/medico', medico._id]">
                    {{ medico.nombre }}
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
