<div class="row animate fadeIn fast">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Nuevo médico</h4>
        <h6 class="card-subtitle">Actualizar Información</h6>
        <form
          class="form-horizontal p-t-20"
          [formGroup]="medicoForm"
          (submit)="guardarMedico()"
        >
          <div class="form-group row" *ngIf="medicoSeleccionado">
            <label for="exampleInputuname3" class="col-sm-3 control-label"
              >Imagen</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <img
                  class="w140"
                  [src]="medicoSeleccionado.img | imagenPipe: 'medicos'"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label"
              >Médico</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input
                  type="text"
                  class="form-control"
                  formControlName="nombre"
                  id="exampleInputuname3"
                  placeholder="Nombre del médico"
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputEmail3" class="col-sm-3 control-label"
              >Hospital</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <select
                  name=""
                  id=""
                  class="form-control"
                  formControlName="hospital"
                >
                  <option value="">Seleccione un hospital</option>
                  <option
                    [value]="hospital._id"
                    *ngFor="let hospital of hospitales"
                  >
                    {{ hospital.nombre }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row m-b-0">
            <div class="offset-sm-3 col-sm-9">
              <button
                type="submit"
                class="btn btn-success waves-effect waves-light"
                [disabled]="medicoForm.invalid"
              >
                <i class="fa fa-save"></i>
                Guardar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6 animate fadeIn fast" *ngIf="hospitalSeleccionado">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospital</h4>
        <h6 class="card-subtitle">{{ hospitalSeleccionado.nombre }}</h6>
        <img
          class="w140 text-center"
          [src]="hospitalSeleccionado.img | imagenPipe: 'hospitales'"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
